

{% extends 'base.html'%}
    {% block body %}
    <h1>LIST OF COMPANIES WITH THEIR SALARIES FOR EACH JOB ROLE</h1>
    <table class="myTable">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Company Name</th>
                <th>Job Title</th>
                <th>Salary per Year</th>

            </tr>
        </thead>
        <tbody>
            {% for i in range(0, categories|length) %}
                <tr>
                <td>{{categories[i][0]}}</td>
                <td>{{categories[i][1]}}</td>
                <td>{{categories[i][2]}}</td>
                <td>{{categories[i][3]}}</td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endblock body%}
